body {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
}
.player {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.search {
  position: relative;
  left: 62%;
  bottom: 50%;
  width: 100%;
}
input {
  width: 30%;
  height: 6%;
  font-size: 18px;
  border-radius: 1%;
}
