{% load compile_static %}
{% load static from staticfiles%}

<html lang="en">
  <head>
    <title>Stats</title>
    <link rel="stylesheet" type="text/css" href="{% static "styles.less" | compile %}">
  </head>
    <body>
    {% for player in players %}
        <div class="player">
          <h1>{{ player.first_name }} {{player.last_name }}</h1>
          <h3>{{ player.team }}</h3>
          <p>Points: {{ player.points }}</p>
          <p>Assists: {{ player.assists }}</p>
          <p>Rebounds: {{ player.rebounds }}</p>
          <p>Steals: {{ player.steals }}</p>
          <p>Blocks: {{ player.blocks }}</p>
          <p>Turnovers: {{ player.turnovers }}</p>
          <p>FGM: {{ player.fgm }}</p>
          <p>FGA: {{ player.fga }}</p>
          <p>3PM: {{ player.threes_m }}</p>
          <p>3PA: {{ player.threes_a }}</p>
          <p>Minutes: {{ player.minutes }}</p>
        </div>
          {% empty %}
          <h3>Sorry, there are no players by that name.</h3>
    {% endfor %}
        <div class="search">
          <label for="player">
           <input type="text"
              placeholder="Search for a player.">
          </label>
        </div>
    <script src="../styles/less.js"></script>
    </body>
</html>